<!DOCTYPE html>
<html>
    <head>
        <title>Phoebe Smells</title>
        <link rel='stylesheet' href='/css/main.css'/>
        <link href="https://fonts.googleapis.com/css?family=Muli:400,700|Sulphur+Point:400,700&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <h1>Phoebe Smells</h1>
        <button id="testButton">Big Big Vibes</button>
        <script src="/js/script.js"></script>
    </body>
</html>